
.menu-container {
  position: absolute;
  top: 30px; 
  left: 200px; 
  
}

.popup-menu {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  z-index: 10;
  margin-top: 25px;
}

.hidden {
  display: none;
}

.popup-item {
  border-bottom: 1px solid #ccc;
}

.popup-item:last-child {
  border-bottom: none;
}

.exit-button {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin-bottom: 50px;
}

/* CSS for buttons */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;

  background: #28852a;
  border-radius: 999px;
  box-shadow: #104a1f 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  word-break: break-word;
  border: 0;
  
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -webkit-user-select: none;
  vertical-align: baseline;
  height: 3rem; /* Set equal width and height for circular shape */
  margin-top: 25px;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
