.App {
  text-align: center;
  padding-top: 20px;  /* Adds space at the top inside the App container */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
    width: 100px;            /* Adjust the width as needed */
    height: auto;            /* Maintain aspect ratio */
    margin: 10px;            /* Adjust margin for positioning */
    position: absolute;      /* Position the logo absolutely */
    bottom: 10px;            /* Align the logo to the bottom */
    right: 10px;             /* Align the logo to the right */
    z-index: 0;              /* Ensure the logo stays beneath the map */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-container {
    width: 100%;            /* Full width of the parent container */
    height: calc(100% - 60px); /* Subtracting the height of the logo */
    margin: 0 auto;         /* Centered horizontally */
    position: relative;     /* Needed for Leaflet's map positioning */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: Adds shadow for depth */
    z-index: 1;             /* Z-index to manage stacking order */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
